<header class="header">
  <svg id="headerSvg"
    class="splicing"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    preserveAspectRatio="xMidYMid slice"
    viewBox="0 0 100 100" height="600px">
  </svg>
  <div class="about">
    <a class="logo" href="/about"><img src="/images/dog.jpg" alt="logo"></a>
  </div>
</header>
<div class="portfolio"></div>
<footer class="footer">
  <svg id="footerSvg"
    class="splicing"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid slice"
    height="600px">
  </svg>
  <div class="contact">
    <p>contact me via <a href="mailto:gbgogb@gmail.com">Email</a></p>
  </div>
</footer>

<script src="/js/dependencies/jquery.js"></script>
<script src="/js/portfolio/modernizr.js"></script>
<script src="/js/portfolio/template.js"></script>
<script src="/js/portfolio/svginnerhtml.min.js"></script>
<script src="/js/portfolio/splicing.js"></script>
<script src="/js/portfolio/main.js"></script>